/* === root === */
:root {
  --main-color: hsl(0, 100%, 95%);
  --accent-color: hsl(341, 69%, 50%);
  --sub-color: hsl(41, 100%, 60%);
  --main-color-shade: hsl(0, 100%, 80%);
  --accent-color-shade: hsl(341, 69%, 35%);
  --sub-color-shade: hsl(41, 100%, 45%);

  --setting-color: hsl(208, 85%, 60%);
  --caution-color: hsl(7, 89%, 50%);
  --setting-color-shade: hsl(208, 85%, 45%);
  --caution-color-shade: hsl(7, 89%, 35%);

  --white: rgb(255, 255, 255);
  --gray-0: rgb(235, 235, 235);
  --gray-1: rgb(204, 204, 204);
  --gray-2: rgb(153, 153, 153);
  --gray-3: rgb(102, 102, 102);
  --gray-4: rgb(51, 51, 51);
  --black: rgb(0, 0, 0);
}

p {
  margin: 0;
}
/* === status === */

.hidden {
  display: none !important;
}

/* === shared structure === */
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;

  height: 100dvh;
  margin: 0 auto;
}

.top-menu {
  display: flex;
  height: 40px;
  align-items: center;
  position: relative;
  background-color: var(--sub-color);
}
.center-menu {
  align-items: center;
  position: relative;
  flex: 1;

  background:
    linear-gradient(135deg, var(--main-color-shade) 10%, transparent 0%) -20px 0,
    linear-gradient(225deg, var(--main-color-shade) 10%, transparent 0%) -20px 0,
    linear-gradient(315deg, var(--main-color-shade) 10%, transparent 0%) -20px 0,
    linear-gradient(45deg, var(--main-color-shade) 10%, transparent 0%) -20px 0;
  background-size: 20px 20px;
  background-color: var(--main-color);
}
.bottom-menu {
  display: flex;
  margin-top: auto;
  height: 60px;
  align-items: center;
  position: relative;

  background-color: var(--accent-color);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal {
  max-height: 80dvh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--main-color);
  padding: 20px;
  border-radius: 3px;
  min-width: 300px;
  max-width: 90dvw;
  border: 5px solid var(--main-color-shade);
  border-radius: 12px;
}

.left-group {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
}
.center-group {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-group {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.setting-container {
  padding: 5px;

  background-color: var(--white);
  border: 3px solid var(--gray-3);
  border-radius: 3px;
}

.rule-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--white);
  border: 3px solid var(--gray-3);
  border-radius: 3px;
}
/* === button === */

.button-l {
  color: var(--accent-color);
  background-color: var(--white);
  border: 0px;
  border-bottom: 5px solid var(--sub-color);
  border-radius: 12px;
  font-size: 20px;
  padding: 6px 28px;
}
.button-l.able {
  cursor: pointer;
}
.button-l:not(.able) {
  filter: brightness(80%);
  cursor: not-allowed;
}
.button-l.able:hover {
  margin-top: 3px;
  color: var(--accent-color-shade);
  background: var(--gray-0);
  border-bottom: 2px solid var(--sub-color-shade);
  transition: 0.15s;
}

.button-m {
  color: var(--gray-4);

  background-color: var(--white);
  padding: 5px 30px;
  height: 30;
  border-radius: 15px;
  border: 2px solid var(--sub-color);
  font-size: 17px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.button-m.caution {
  color: var(--caution-color);
}
.button-m.able {
  cursor: pointer;
}
.button-m:not(.able) {
  filter: brightness(80%);
  cursor: not-allowed;
}
.button-m.able:hover {
  color: var(--black);
  background: var(--gray-0);
  border-color: var(--sub-color-shade);
  transition: 0.15s;
}
.button-m.caution.able:hover {
  color: var(--caution-color-shade);
  background: var(--gray-0);
  border-color: var(--sub-color-shade);
  transition: 0.15s;
}

.button-s {
  color: var(--white);

  background-color: var(--sub-color);
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.button-s.able {
  cursor: pointer;
}
.button-s:not(.able) {
  filter: brightness(80%);
  cursor: not-allowed;
}
.button-s.able:hover {
  color: var(--gray-0);
  background: var(--sub-color-shade);
  transition: 0.15s;
}

.button-letter {
  font-size: 33px;
  color: var(--gray-4);
  border: none;
  background: none;
  cursor: pointer;
}
.button-letter:hover {
  color: var(--setting-color);
  transform: scale(1.2);
  transition: 0.15s;
}
.button-letter.caution:hover {
  color: var(--caution-color);
  transform: scale(1.2);
  transition: 0.15s;
}

/* ===input=== */
.input-s {
  width: 150px;
  padding: 3px 7px;
  border-radius: 5px;
  border: 2px solid var(--gray-3);
  background-color: var(--white);
}

.input-s:focus {
  outline: 0;
  border: 2px solid var(--setting-color);
  background-color: var(--white);
  transition: 0.15s;
}
